# Python-related
__pycache__/
*.pyc
*.pyo
*.pyd

# SQL-related
*.sql

# Ignore compiled binaries and build directories
*.exe
*.dll
*.so
*.out
*.egg-info/
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
*.iml

# Ignore PostgreSQL data directory
pgdata/
